<app-navbar />
<main>
  <div class="container">
    <div class="row my-2">
      <h1 class="mb-0">Desafios Javascript</h1>
    </div>
    <div class="row">
      <div class="col-12">
        <div class="accordion" id="accordionChallenges">
          <div class="accordion-item">
            <h2 class="accordion-header my-0">
              <button
                class="accordion-button"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#collapseOne"
                aria-expanded="false"
                aria-controls="collapseOne"
              >
                1 - Filtrar Números Ímpares
              </button>
            </h2>
            <div
              id="collapseOne"
              class="accordion-collapse collapse show"
              data-bs-parent="#accordionExample"
            >
              <div class="accordion-body">
                <app-filter-odd-challenge />
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header my-0">
              <button
                class="accordion-button collapsed"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#collapseTwo"
                aria-expanded="false"
                aria-controls="collapseTwo"
              >
                2 - Filtrar Palíndromos
              </button>
            </h2>
            <div
              id="collapseTwo"
              class="accordion-collapse collapse"
              data-bs-parent="#accordionExample"
            >
              <div class="accordion-body"><app-filter-palindromes /></div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header my-0">
              <button
                class="accordion-button collapsed"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#collapseThree"
                aria-expanded="false"
                aria-controls="collapseThree"
              >
                3 - Sequência Fibonacci
              </button>
            </h2>
            <div
              id="collapseThree"
              class="accordion-collapse collapse"
              data-bs-parent="#accordionExample"
            >
              <div class="accordion-body"><app-fibonacci-sequence /></div>
            </div>
          </div>

          <div class="accordion-item">
            <h2 class="accordion-header my-0">
              <button
                class="accordion-button collapsed"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#collapseFour"
                aria-expanded="false"
                aria-controls="collapseFour"
              >
                4 - Mutação de Array
              </button>
            </h2>
            <div
              id="collapseFour"
              class="accordion-collapse collapse"
              data-bs-parent="#accordionExample"
            >
              <div class="accordion-body"><app-array-mutation /></div>
            </div>
          </div>

          <div class="accordion-item">
            <h2 class="accordion-header my-0">
              <button
                class="accordion-button collapsed"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#collapseFive"
                aria-expanded="false"
                aria-controls="collapseFive"
              >
                5 - Mapeamento de Array 1
              </button>
            </h2>
            <div
              id="collapseFive"
              class="accordion-collapse collapse"
              data-bs-parent="#accordionExample"
            >
              <div class="accordion-body"><app-object-mapping1 /></div>
            </div>
          </div>

          <div class="accordion-item">
            <h2 class="accordion-header my-0">
              <button
                class="accordion-button collapsed"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#collapseSix"
                aria-expanded="false"
                aria-controls="collapseSix"
              >
                6 - Mapeamento de Array 2
              </button>
            </h2>
            <div
              id="collapseSix"
              class="accordion-collapse collapse"
              data-bs-parent="#accordionExample"
            >
              <div class="accordion-body"><app-object-mapping2 /></div>
            </div>
          </div>

          <div class="accordion-item">
            <h2 class="accordion-header my-0">
              <button
                class="accordion-button collapsed"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#collapseSeven"
                aria-expanded="false"
                aria-controls="collapseSeven"
              >
                7 - Filtro de Objeto
              </button>
            </h2>
            <div
              id="collapseSeven"
              class="accordion-collapse collapse"
              data-bs-parent="#accordionExample"
            >
              <div class="accordion-body"><app-object-filter /></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
<app-footer />

<router-outlet></router-outlet>
